#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-image: url(/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
}

/* const submittedTaskObject = {
  id: Date.now(),
  submittedTas: newTask,
  status: "Active",
};
const computtedTask = [...initialTask, submittedTaskObject]; */
