#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-image: url(/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
}

/* handle media queries for small screen sizes*/
@media screen and (max-width: 834px) {
  body {
    background-size: auto 50vh;
  }
}

/*  */
/* const submittedTaskObject = {
  id: Date.now(),
  submittedTas: newTask,
  status: "Active",
};
const computtedTask = [...initialTask, submittedTaskObject]; */
