@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  background-color: hsl(235, 21%, 11%);
  color: #fff;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Lexend", sans-serif;
}
